/* 
* CSS de Alexander Erlandsson https://codepen.io/alexerlandsson/pen/mPWgpO
*/
html,
body {
	height: 100%;
	background-color: black;
	color: lightgrey;
	text-align: center;
}
  
#cadre {
padding-top: 10px;	
}

table {
	  margin-left: auto;
	  margin-right: auto;
	  border-style: dashed;
	  border-radius: 1em;
	  text-align: center;
	  border-collapse: collapse;
	  width: 600px;
	  border-collapse: collapse;
	  overflow: hidden;
	  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }

  tr:hover,
  td:hover {
	  background-color: dodgerblue;
	  color:white;
  }
  
  th, td {
		border: 1px solid lightgray;
		padding: 15px;
		background-color: rgba(255,255,255,0.2);
		color: #fff;
  }


body {
margin: 0;
background: linear-gradient(45deg, #49a09d, #5f2c82);
font-family: sans-serif;
font-weight: 100;
}

thead {
	th {
	/* background-color: #55608f; */
}
}

tbody {
tr {
&:hover {
	background-color: rgba(255,255,255,0.3);
}
}
td {
position: relative;
&:hover {
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -9999px;
		bottom: -9999px;
		background-color: rgba(255,255,255,0.2);
		z-index: -1;
	}
}
}
}

#new {
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: white;
}